<!DOCTYPE html>
<html>
<body>

<h1 style="text-align: center">Weather Report </h1>

<form action="/weatherapp" method = 'POST'>
  <label for="fname">City: </label>
  <input type="text" id="city" name="city">
  <label for="lname">Units: </label>
  <input type="text" id="units" name="units">
  <label for="uname">API Key: </label>
  <input type="text" id="appid" name="appid"><br><br>
  <input type="submit" value="Get Weather Report">
</form>

<p>Click on the Get Weather button to submit the form.</p>

</body>
</html>